---
import { Icon } from 'astro-icon'
import navData from '../../../data/navData';

import Link from './Link.astro';
---


<nav aria-label="Primary Navigation" class="navContainer flex" tabindex="0">
    <button  
    arial-label="Toggle Dark Mode" 
    class="darkLightMode" 
    id="darkLightButton" 
    type="button"> 
        
            <Icon pack="uit" width='2em' name="toggle-on"  />  
        
    </button>
    

    <a href="/" class="siteLogo" aria-label="Site Logo"> ChaosNVideoGames </a>
        

    <div class="navBar" tabindex="0" >
    <!-- <img src="img/menu.png" class="menuIcon"/> -->

         <ul class="mobileNav">
        {
            navData.map((v) => (
        <li><Link 
            text={v.name}
            href={v.path}
            style="Secondary"
            isFilled={false}
            data-navLink
           
        /></li>
        ))
            }
    </ul>

  
    
</div>
    
</nav>
<script>
import "../../js/nav.js"
   
    
</script>
