@font-face {
  font-family:'Avengers';
  src: url('/fonts/HeroesAssembleLeftalic-PgJZ.otf') format('opentype');
  /* Additional font properties (optional) */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'Stigo';
  src: url('/fonts/StigoThinPersonal-VG790.otf') format('opentype');
  /* Additional font properties (optional) */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'Bricks';
  src: url('/fonts/BricksExtraBold.otf') format('opentype');
  /* Additional font properties (optional) */
  font-weight: normal;
  font-style: normal;
}

:root{
   --primary-dark:hsl(214,14%,20%);
   --primary-dark-text:#e9e9e9; 
   --primary-font:'Bebas Neue', sans-serif;
   --secondary-font:'Teko', sans-serif;
   --clr-background: #efefef;
   --clr-text: #333333;
  //  --clr-toggle: #345b6f; this is the original color value
  --clr-toggle:#a8a8a8;

}
html[data-theme='dark'] {
  
  --clr-text: #efdfef;
  // --clr-toggle: #e9c46a; this is the original color value
  --clr-toggle:#4f4e4e;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
}

// *UTLITY CLASSES UTLITY CLASSES UTLITY CLASSES UTLITY CLASSES  
.font-avengers{
  font-family: 'Avengers', sans-serif ;
}
.font-archivo{
  font-family:'Archivo Narrow', sans-serif;
}
.font-stigo{
  font-family: 'Stigo', sans-serif;
}
.font-bricks{
font-family: 'Bricks',sans-serif;
}

body {
  min-height:100vh;
  display: grid;
  place-items: center;
  grid-template-rows: 100px 1fr auto;
  color: var(--clr-text);
	background: var(--clr-background);
  
}
.hidden{
  display:none;
}
.relative{
position: relative;
}
.absolute{
  position: absolute;
}
.text-center{
  text-align: center;
}
.items-center{
  align-items: center;
}
.align-self-center{
  align-self: center;
}
.justify-items-center{
  justify-items: center;
}
.overflow-hidden{
overflow:hidden;
}

.w-full{
width:100%;
}

.w-half{
  width: 50%;
}
.w-25{
  width:25%;
}
.max-w-14{
  max-width:14%;
  
}
.m-auto{
  margin: 0 auto;
}
.m-top-8{
  margin-top:0.5em;
}

.m-top-32{
  margin-top: 2em;
}

.pl-8{
  padding-left: 0.5em;
}

.ff-size-40{
  font-size:4.5rem;
}
.ff-size-24{
  font-size: 2rem;
}
.ff-size-8{
  font-size: 0.5em;
}
.font-primary{
font-family: var(--primary-font);
}

.font-secondary{
font-family: var(--secondary-font);
}

.dark-mode{
  background-color:var(--primary-dark);
  color: var(--primary-dark-text);
}
.button-dark-mode{
  background-color:var(--primary-dark);
  color: white;
  justify-self: start;
}
/* NAV */
.navContainer{
display:flex;
width: 100%;
    @media(min-width:64em){
      width: 100%;
    }
}
.navBar{
  height:100px;

}
p{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.5rem;
}
.nameDate{
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 1.5rem;
 
}


.blogCard{
  margin-top:50px;
  justify-content: center;
  text-align: center;
 
      
}
.blogContainer{
margin:0px 20em; 

}
.blogInfo{
  left:-360px;
  top:287px;
  position: absolute;
}
.blogTitle{
position:absolute;
left:-50px;
top:3.7em;
width: 350px;

line-height: 50px;
font-size:3rem;

}
.blogImage{
  position: relative;
  left:180px;

}
.descContainer{

  @media(min-width:64em){
    padding:0px 100px;
  }
}
a{
font-family: 'Sofia Sans Extra Condensed', sans-serif;
font-size: 2em;
}
h2{
  font-family: 'Bebas Neue', cursive;
}
.flex{
  display: flex;
}
.wrap{
  flex-wrap: wrap;
}
.no-wrap{
  flex-wrap: nowrap;
}
.column{
  flex-direction: column;
}
.row{
  flex-direction: row;
}
.blogHeader{
  display: flex;
flex-direction:row;
position: relative;
margin-bottom: 2em;

}
.sideways{
  transform: rotate(-90deg);
  writing-mode: horizontal-tb;
}

p{
   
    font-size: 2.5rem;
    word-break:keep-all;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    word-break: keep-all;
   
}
.blogP{
 
  padding-bottom: 2em;
  font-size: 4rem;
  word-break:keep-all;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  letter-spacing: 1px;
}
.container{
margin:0px 3em 2em 3em;  

}
.blogContainer{
margin:0px 2em; 


}
.blogInfo{
    left:-70px;
    top:287px;
    position: absolute;
}
.blogInfo:after{
  content: "";
  position: absolute;
  height: 7px;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  width:100px;
  transform: rotate(-90deg);
  writing-mode: horizontal-tb;
  bottom:180px;
  left:25%;
}
.blogTitle{
position:absolute;
left:-50px;
top:3.7em;
width: 350px;

line-height: 50px;
font-size:3rem;

}
.blogImage{
    position: relative;
    left:180px;
  
}
.socialContainer{
  right:-20px;
  position:absolute;

}
.socialMediaIcons:after{
  content: "";
  position: absolute;
  height: 7px;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  width:150px;
  transform: rotate(-90deg);
  writing-mode: horizontal-tb;
  bottom:10px;
  right:-185%;
  top:20em;
}
.socialMediaIcons li{
  padding-bottom:10px;
}
a{
font-family: 'Sofia Sans Extra Condensed', sans-serif;
font-size: 2em;
}


.blogHeader{
    
flex-direction:row;
position: relative;
margin-bottom: 2em;

}
.sideways{
    transform: rotate(-90deg);
    writing-mode: horizontal-tb;
    letter-spacing: 0px;
}

.lineBorderX{
 border-width: 0;
    @media (min-width:26em) {
     
    border-color:rgb(84, 82, 82);
    border-style:solid;
    border-width: 0px 1px 0px 1px;
    }

}

// ?SEARCH BOX CLASSES  //


.search-box {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 60px;
  border-radius: 120px;
  margin: 0 auto;
}
.search-icon, .go-icon {
  position: absolute;
  top: 10px;
  height: 60px;
  width: 86px;
  line-height: 61px;
  text-align: center;
}
.search-icon {
  left: 0;
  pointer-events: none;
  font-size: 1.22em;
  will-change: transform;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.si-rotate {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.go-icon {
  right: 0;
  pointer-events: none;
  font-size: 1.38em;
  will-change: opacity;
  cursor: default;
  opacity: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.go-in {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.search-border {
  display: block;
  width: 100%;
  max-width: 360px;
  height: 60px;
}
.border {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.border {
  stroke-dasharray: 740;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
}
.border-searching .border {
  stroke-dasharray: 740;
  stroke-dashoffset: 459;
  transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}
#search {
  font-family: 'Montserrat Alternates', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 120px;
  border: none;
  background: rgba(255,255,255,0);
  padding: 0 68px 0 68px;
  color: #FFFFFF;
  font-size: 1.32em;
  font-weight: 400;
  letter-spacing: -0.015em;
  outline: none;
}
#search::-webkit-input-placeholder {color: #FFFFFF;}
#search::-moz-placeholder {color: #FFFFFF;}
#search:-ms-input-placeholder {color: #FFFFFF;}
#search:-moz-placeholder {color: #FFFFFF;}
#search::-moz-selection {color: #FFFFFF; background: rgba(0,0,0,0.25);}
#search::selection {color: #FFFFFF; background: rgba(0,0,0,0.25);}


// ? TOGGLE BUTTON FOR DARK MODE TOGGLE DARK MODE ON/OFF 




.theme-switch {
	--diameter: 2.5rem;
	--spacing: 0.3rem;
	inline-size: calc(var(--diameter) * 2 + var(--spacing) * 2); /* width */
	block-size: calc(var(--diameter) + var(--spacing) * 2); /* height */
	border: none;
	cursor: pointer;
	background: var(--clr-toggle);
	color: var(--clr-text);
	position: relative;
	border-radius: 100vh;
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	transition:
		background-color 0.4s ease-in-out,
		color 0.4s ease-in-out;
}

.theme-switch[aria-pressed='true'] {
	--is-active: 1;
}

.theme-switch::before {
	--offset: calc(100% - var(--diameter) - var(--spacing) * 2);
	content: '';
	position: absolute;
	inset-inline-start: calc(var(--spacing) + var(--offset) * var(--is-active, 0)); /* left */
	inset-block-start: var(--spacing); /* top */
	border-radius: 100vh;
	inline-size: var(--diameter); /* width */
	block-size: var(--diameter); /* height */
	background: #ffffff;
	transition: inset-inline-start 0.4s ease-in-out; /* left */
}

/* ----- TOGGLE BUTTON | ACCESSIBILITY ----- */

.no-js .theme-switch {
	display: none;
}

.theme-switch:focus {
	outline: 2px solid currentColor;
}

.theme-switch:focus:not(:focus-visible) {
	outline: 0;
}

@media (prefers-reduced-motion) {
	.theme-switch {
		transition-duration: 0.01s;
	}

	.theme-switch::before {
		transition-duration: 0.01s;
	}
}