/* LARGE LARGE LARGE LARGE LARGE LARGE */
@media(min-width:64em) {



    .visually-hidden {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
 

    .max-w-14{
      max-width:14%;
      
    }
  
  /* NAV */

  .navigation{
    display: flex;
    position: relative;
  }
.desktopNav{
    display:flex;
    align-self: stretch;
     margin: 0 1em;
    align-self: center;
   margin-right:200px;
    position: relative;
    gap:40px;
    li{
      font-size:x-large;
    }
   
}
.siteLogo{
  
  align-self: center;
  
  font-size: 5em;
  font-weight: 200;
  position: relative;
  margin: 0 auto;
  padding:0 0 0 200px;
  }

  .navBar{
    
      width: 80px;
      height: 50px;
      position: relative;
      background-color: #323941;
        @media(min-width:64em){
        display: none;
        }
    
  }


  .navBar::before, .navBar::after{
    content: '';
    display: inline-block;
    height: 3px;
    width:70%;
    position:absolute;
    left: 15%;
    top: 50%;
    background: #e10f0f;
    transition:
      transform 0.2s ease,
      top 0.2s ease;
    
    transform:rotate(0deg) translateY(-50%);
  }
  .navBar::before{
  top:30%;
  
  } 
  .navBar::after{
    top:70%;
  }
  
  .navBar {
    &:focus,
    &:focus-within{
    &::before{
        top:50%;
        transform:rotate(30deg) translateY(-50%);
    }
    &::after{
     top:50%;
    transform:rotate(-30deg) translateY(-50%);
  }
  
  }
  
  }
  
  .navBar{
       &:focus{
  
      ul{
        display: flex;
      }
  }
  }
  
  .menuIcon{
    
    height: inherit;
  }
  .menuIcon:focus {
    display: flex;
  }
  
  
  .darkLightMode{
    margin:.3em 1em;
  
   
    
    z-index: 2;
  }
  
  
  /* 
   !HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE */

.favBlog{
  margin:0 100px;
}
   
  .recentPost{
    
    height:500px;
    background-image: url(img/joystick-4321216.jpg);
    background-size: cover;
    
    isolation: isolate;
    margin:20px 0px;
    
    
  }
  .recentPostShader{
    
    position: relative;
  }
  .recentPostShader::after{
    content: '';
  position:absolute;
  background-color: #980808;
  inset:0;
  z-index:-1;
  opacity:0.7;
  mix-blend-mode: multiply;
  }
  .recentPostH2{
    min-height:500px;
   padding: 400px 50px 0px 50px;
    justify-content: center;
    
  }
  .blogH2{
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
   
    color:#FFF;
    text-align:center;
    
  
  }
  .recentPostCard{
   
    margin:0 100px;
  }
  .recentPostCard li{
    
    height: 300px;
    margin-bottom:20px;
   border:1px solid rgb(84, 82, 82);
  }
  .postCardInfo{
   padding:20px 40px;
  
    flex: 1;
  }
  .postCardInfo h3{
     font-weight: bold;
     font-size:2.8rem;
  }
  .postCardInfo span{
    
    position: absolute;
    height: 2px;
    background-color: red;
    width: 40px;
  }
 .postCardInfo p{

  }


  .postCardInfo h3{
    word-break: keep-all;
  }
  
  


  
  p.subtitle{
    position: relative;
    font-size: 2.3rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-height: 50%;
    

  }

  
  
  
  
  /* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
  
  
  .copyrightContainer{
  
  width:80%;
  height:100px;
  justify-content:space-between;
  border-top:solid 1px rgb(84, 82, 82);
  margin-top: 50px;
  padding-top:20px;
  }
  .copyrightText p{
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-weight: 400;
  font-size: 2em;
  
  }
  .footerIconsSocial {
    flex:1 200px;
  }
  .footerSocialIcons li{
    display:inline;
    
  }
  
  /* ************************************* BLOG DESIGN ********************************************* */
  p{
     
      font-size: 2rem;
      word-break:keep-all;
      font-family: 'Sofia Sans Extra Condensed', sans-serif;
    
     
  }
  .blogP{
    padding-bottom: 2em;
      font-size: 2.6em;
      word-break:keep-all;
      font-family: 'Sofia Sans Extra Condensed', sans-serif;
      letter-spacing: 1px;
  }
  .container{
    margin:0px 15em;  
    max-width:200px;
    min-width:800px;
    }
  .blogContainer{
  margin:0px 2em; 
  
  
  }

  .blogTitle{
    position:absolute;
    left:-200px;
    top:5.5em;
    width: 700px;
    
    line-height: 90px;
    font-size:6rem;
    
    }
  .blogImage{
      position: relative;
      left:180px;
    
  } 
  .blogInfo{
    left:-100px;
    top:850px;
    position: absolute;
}
// Size of author name
.nameDate{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 1.5rem;
   
  }
  .socialContainer{
    right:-20px;
    position:absolute;
  
  }

  .socialMediaIcons li{
    padding-bottom:10px;
  }
  a{
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 2em;
  }
  
  
  .blogHeader{
      
  flex-direction:row;
  position: relative;
  margin-bottom: 2em;
  
  }
  .sideways{
      transform: rotate(-90deg);
      writing-mode: horizontal-tb;
  }
  
          }