/* MED MED MED MED MED MED MED MED MED MED  */
@media(min-width:48em) {
    .visually-hidden {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  .flex{
      display: flex;
  }
  
  /* NAV */

  .navBar{
     width: 80px;
      height: 50px;
      position: relative;
      background-color: #323941;
    
  }


  .navBar::before, .navBar::after{
    content: '';
    display: inline-block;
    height: 3px;
    width:70%;
    position:absolute;
    left: 15%;
    top: 50%;
    background: whitesmoke;
    transition:
      transform 0.2s ease,
      top 0.2s ease;
    
    transform:rotate(0deg) translateY(-50%);
  }
  .navBar::before{
  top:30%;
  
  } 
  .navBar::after{
    top:70%;
  }
  
  .navBar {
    &:focus,
    &:focus-within{
    &::before{
        top:50%;
        transform:rotate(30deg) translateY(-50%);
    }
    &::after{
     top:50%;
    transform:rotate(-30deg) translateY(-50%);
  }
  
  }
  
  }
  
  .navBar{
       &:focus{
  
      ul{
        display: flex;
      }
  }
  }
  
  .menuIcon{
    
    height: inherit;
  }
  .menuIcon:focus {
    display: flex;
  }
  .siteLogo{
  
  align-self: center;


  font-weight: 200;
  position: relative;
  margin: 0 auto;
  }
  
  
  .darkLightMode{
    margin:.3em 1em;
   
  
    
    z-index: 2;
  }
  
  
  /* 
  !HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE HOMEPAGE*/
  
  

  .recentPostShader{
    
    position: relative;
  }
  .recentPostShader::after{
    content: '';
  position:absolute;
  background-color: red;
  inset:0;
  z-index:-1;
  opacity:0.7;
  mix-blend-mode: multiply;
  }
  .recentPostH2{
    min-height:500px;
   padding: 400px 50px 0px 50px;
    justify-content: center;
    
  }
  
  .blogH2{
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
   
  
    text-align:center;
    
  
  }

 
  .postCardInfo{
   padding:40px;
  flex: 1;
  }
  .postCardInfo h3{
     font-weight: bold;
     font-size:2.8rem;
  }
  .postCardInfo span{
    
    position: absolute;
    height: 2px;
    background-color: red;
    width: 40px;
  }
  .postCardInfo h3, .postCardInfo p{
    padding-top:10px;
    
  }
  .postCardInfo h3{
    font-weight: bold;
    font-size:2.2rem;
   word-break: keep-all;
   white-space: wrap;
   overflow: hidden;
   text-overflow: ellipsis;

 }
  
  .postCardContainer{
  
  }

  p.subtitle{
    position: relative;
    font-size: 2rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-height: 50%;
    display: flex;

  }
 
  
  
  
  /* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
  
  

  .copyrightText p{
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-weight: 400;
  font-size: 2em;
  
  }

  .footerSocialIcons li{
    display:inline;
    
  }
  
  
  /* ****************************************************************************************************** */
  p{
     
      font-size: 2.5rem;
      word-break:keep-all;
      font-family: 'Sofia Sans Extra Condensed', sans-serif;
      letter-spacing: 1px;
     
  }
  .blogP{
    padding-bottom: 2em;
  }

  .blogContainer{
  margin:0px 2em; 
  
  
  }


  
  .blogImage{
      position: relative;
      left:180px;
    
  }
  .socialContainer{
    right:-20px;
    position:absolute;
  
  }

  .socialMediaIcons li{
    padding-bottom:10px;
  }
  a{
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 2em;
  }
  
  
  .blogHeader{
      
  flex-direction:row;
  position: relative;
  margin-bottom: 2em;
  
  }
  .sideways{
      transform: rotate(-90deg);
      writing-mode: horizontal-tb;
  }
  
          }