---
import MainLayout from "../layouts/MainLayout.astro";

import Link from "../layouts/components/Link.astro";

---


		<MainLayout title="404 Page" > 
			<h1>Oops, you weren't supposed to see this</h1>
			
            <Link href="/"
                    text="Back To Home"
                    icon={{ 
                        name:"ph:house-line",
                        side:"left",
                       
                    }}
                    />
		</MainLayout>

	