---
import { Image } from "@astrojs/image/components";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout slot="chaos" title="About" description="Learn more information about my website">


<section aria-label="About This Site">
    <p>This is the About Page</p>
    <p>This is the About Page</p>
    <p>This is the About Page</p>
    <p>This is the About Page</p>
    <p>This is the About Page</p>
    <p>This is the About Page</p>
    <p>This is the About Page</p>
    <p>This is the About Page</p>
</section>



</MainLayout>