---
import { Image } from "@astrojs/image/components";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout slot="chaos" title="What is this blog about ?" description="Chaos and video games is a blogging site about the deeper understanding of video games and thier effect on the world as well as blogs about the lifestyle of coding.This includes information about how video game companies operate as well as how developers make the decisions that go into the final version of the game upon its release.Whether you enjoy reading about coding trends or if you need a argumentive discussion about the current state of video game development,this website carries several topics that are sure to inform and educate you about video games." 
>


<section aria-label="About This Site">
    <h1>What Is This Site About ?</h1>
    <p> Chaos and video games is a blogging site about the deeper understanding of video games and thier effect on the world as well as blogs about the lifestyle of coding.
        This includes information about how video game companies operate as well as how developers make the decisions that go into the final version of the game upon its release.
        Whether you enjoy reading about coding trends or if you need a argumentive discussion about the current state of video game development,this website carries several topics that are sure to inform and educate you about video games.</p>

</section>



</MainLayout>