---
import { Image } from "@astrojs/image/components";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout slot="chaos" title="About">
<p>This is the Store Page</p>
<p>This is the Store Page</p>

<p>This is the Store Page</p>
<p>This is the Store Page</p>
<p>This is the Store Page</p>
<p>This is the Store Page</p>



</MainLayout>