---
const {title, description} = Astro.props;


---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale= 1, maximum-scale=1 "/>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name='description' content={description}/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Bebas+Neue&family=Sofia+Sans+Extra+Condensed:wght@1;100;200;400&display=swap"
 rel="stylesheet">

 
   
</head>