---
import HeadComp from "./HeadComp.astro";
import Footer from "../layouts/components/Footer.astro";

import "../styles/global.scss"
import "../styles/sm.scss"
import "../styles/med.scss"
import "../styles/lg.scss"



import "../styles/reset.scss"
import Navigation from "./components/Navigation.astro";

const {
title="Created with Astro 2.0",
description="This is the description"} = Astro.props;

---

<html lang="en">
    <HeadComp title={title} description={description}/>
	<body>
        <Navigation />
		
	<slot>
        This is a slot
    </slot>

   
	 <Footer />
	</body>
</html>

